.quotes-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.quotes-section > blockquote > p {
    min-width: 320px;
    font-style: oblique;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 3rem);
}

.quotes-section blockquote p::before {
    content: '\201C';
}

.quotes-section blockquote p::after {
    content: '\201D';
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: var(--slighly-rounded);
}

.author-content > h6 {
    font-size: 1.2rem;
}

.author-content > span {
    font-size: 0.8rem;
    color: var(--gray-3);
}

@media (min-width: 780px) {
    .quotes-section {
        padding: 0 4rem;
    }
}